!!!
%html{html_attrs, xmlns:fb="https://ogp.me/ns/fb#"}
  %head
    
    -# METAS #-#-

    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes")
    %meta{:name => "lang", :content => "en"}
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    -# These are Open Graph tags.  They add meta data to your
    -# site that facebook uses when your content is shared
    -# over facebook.  You should fill these tags in with
    -# your data.  To learn more about Open Graph, visit
    -# 'https://developers.facebook.com/docs/opengraph/'
    %meta{:property=>"og:title", :content=>"#{@app['name']}"}
    %meta{:property=>"og:type", :content=>"website"}
    %meta{:property=>"og:url", :content=>"https://helcross.com"}
    %meta{:property=>"og:image", :content=>"#{url('/logo.png')}"}
    %meta{:property=>"og:site_name", :content=>"#{@app['name']}"}
    %meta{:property=>"og:description", :content=>"Hel+"}
    %meta{:property=>"fb:app_id", :content=>"#{@app['id']}"}


    -# TITLE #-#-

    %title=@app['name']


    -# LINKS #-#-
    :erb
      <!-- link
        rel="stylesheet" 
        href="stylesheets/mobile.css" 
        media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" 
        type="text/css" 
        -->
      <!--[if IEMobile]>
        <link
          rel="stylesheet" 
          href="stylesheets/mobile.css" 
          media="screen" 
          type="text/css"
          >
      <![endif]-->
      <link
        rel="stylesheet" 
        href="stylesheets/lib/bootstrap.css" 
        media="screen" 
        type="text/css"
        >
      <link
        rel="stylesheet" 
        href="stylesheets/lib/responsive.css" 
        media="screen" type="text/css"
        >
      <link
        href="/stylesheets/application.css"
        media="screen"
        rel="stylesheet"
        type="text/css"
        >
      <!--link rel="stylesheet" href="stylesheets/grid.css" media="screen" type="text/css"-->
      <!--link rel="stylesheet" href="stylesheets/base.css" type="text/css"-->
      <link
        href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic|Loved+by+the+King"
        rel="stylesheet"
        type="text/css"
        >
      <!-- Le fav and touch icons -->
      <link
        rel="icon" 
        type="image/ico" 
        href="/favicon.ico"
        >
      <link
        rel="apple-touch-icon-precomposed" 
        sizes="114x114" 
        href="../assets/ico/apple-touch-icon-114-precomposed.png"
        >
      <link
        rel="apple-touch-icon-precomposed" 
        sizes="72x72" 
        href="../assets/ico/apple-touch-icon-72-precomposed.png"
        >
      <link
        rel="apple-touch-icon-precomposed" 
        href="../assets/ico/apple-touch-icon-57-precomposed.png"
        >
    -# end of erb filter


    -# SCRIPTS #-#-
    =lib_script "modernizr.custom"
    =lib_script "jquery-1.7.2.min"
    %script{:type => "text/javascript", :src => "/javascripts/application.js"}
    - if page == "store"
      %script(type="text/javascript" src="https://js.stripe.com/v1/")
      %script(type="text/javascript")
        -# this identifies your website in the createToken call below
        Stripe.setPublishableKey('pk_TvkuC43481lapEUCs1OHoBxLHc3mN');
      </script>
    -# =lib_script "fb"
    -# %script(type="text/javascript")
    -#   var app_url = '#{@app['url']}';
    -#   var app_id = '#{@app['id']}';
    -#   var app_channelUrl = '#{url_no_scheme('/channel.html')}';
    -# Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      %script(src="https://html5shim.googlecode.com/svn/trunk/html5.js")
    /[if IE]
      %script{:type=>"text/javascript"} 
        var tags = ['header', 'section']; while(tags.length); document.createElement(tags.pop());



  %body

    -# FACEBOOK INIT #-#- 

    %div(id="fb-root")
    -# =lib_script "fb-init"

    -# TOP LEVEL STRUCTURE #-#-

    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand(href="#")
            Hel+
          .nav-collapse.hidden-phone
            %ul.nav
              - if page == "home"
                %li#home-nav
                  %a(href="#" onClick="showPage('home');") Home
                %li#about-nav
                  %a(href="#" onClick="showPage('about');") About
              - else
                %li#home-nav
                  %a(href="/") Home
              %li#store-nav
                %a(href="/store") Store
              %li#contact-nav
                %a(href="/contact") Contact 
              %li#forum-nav
                %a(href="/forum") Forum
            %ul#shopping-cart-bar(rel="tooltip" title="Click here to view items" data-toggle="modal" data-target="#shopping-cart-modal")
              %li#shopping-cart-count
                %li 
                  %i.icon-shopping-cart.icon-white
                %li#shopping-cart-total

          .nav-collapse.visible-phone
            %select(name="navmenu")
              %option(value='/') Home
              %option(value='/about') About
              %option(value='/store') Store
              %option(value='/contact') Contact
              %option(value='/forum') Forum

    = yield
    %footer
      <p>An end to politics as usual &trade;</p>
      <p>&copy; 2012 Hel+ LLC. All rights reserved.</p>
      <p>Integration &amp; Design by <a href="http://patrickcanfield.heroku.com">Patrick Canfield</a></p>



    -# MORE SCRIPTS #-#-
    -# Moved to end of document so the page loads faster

    -# %script{:type=>"text/javascript", :src=>"http://code.jquery.com/jquery-1.5.min.js"}
    =lib_script "bootstrap-transition"
    =lib_script "bootstrap-carousel"
    =lib_script "bootstrap-alert"
    =lib_script "bootstrap-dropdown"
    =lib_script "bootstrap-tooltip"
    =lib_script "bootstrap-modal"
    =lib_script "bootstrap-collapse"
    =lib_script "jquery.autosize"
    -# =lib_script "jquery.html5form-1.5-min"
    -# =lib_script "handlebars"
    -# =lib_script "json2"
    -# =lib_script "test_forum_data"
    %script
      showPage('#{page}');
