#home.feature
  = partial :gallery

= each_content_item "pages" do |i|
  %div.feature{:id => "page-#{i.downcase}" }
    .page
      = content "/pages/#{i}"


#cross-you.feature
  .page
    <h1>Coming Soon</h1>
    <h1>A place to find engaging conversations on politics, faith, art, Dr. Who, etc. All the important stuff in life</h1>
    <h1>But for now we just have the <a href="https://www.facebook.com/groups/Helt55/">facebook forum</a>, and the below preview of recent posts:</h1>
  .forum

#notifications
  %h1#h1-home Home
  = each_content_item "pages" do |i|
    %h1{:id => "h1-#{i.downcase}" } #{i}



#post-template(style="display:none")
  {{#data}}
  .post.span-18
    .row
      %h1.prepend-2 {{name}}
      {{#picture}}
      %a.span-4.prepend-2.image(href='#')
        %img(src='{{picture}}')
      .span-13.last
        {{#from}}
        %h2 {{from.name}}
        {{/from}}
        {{description}}
      {{/picture}}
  {{/data}}

-# {{^picture}}
-#   .span-17.last
-#     {{#from}}
-#     %h2 {{from.name}}
-#     {{/from}}
-#     {{description}}
-#   {{/picture}}
