#store-page.container
  .span12
    .row-fluid
      .hero-unit
        = content "store"
    - in_chunks_of(3, get_table("store_inventory")) do |groups|
      .row-fluid.store-row
        - groups.each do |group|
          - name = group["group"]
          - description = group["description"]
          - picture = group["picture"]
          - price = group["price"]
          .span4
            .store-item(data-group-id="#{group["id"]}")
              .img-wrapper
                .on-hover
                  .text-wrapper
                    <h2>Add to Cart</h2>
                    <h2>$#{price}</h2>
                %img(src="#{s3_link picture}" alt="")
              %h3 #{name}
              %p #{description}
              
              %form.form-horizontal
                %legend Choose Sizes:
                %fieldset
                  .control-group
                    .controls
                      %select(multiple="multiple" name="variation") 
                        - group["items"].each do |item| 
                          %option(value='#{item["id"]}') #{item["item"]}
            
                      %p.help-block.if-error
                        Please select at least one.
#shopping-cart-modal.modal.fade
  .modal-header
    %button(class="close" data-dismiss="modal") &times;</button>
    %h2 Shopping Cart
  .modal-body
    .if-shopping-cart-empty
      Your shopping cart is empty. Lets fix this.
    .accordion#accordion
      .accordion-group.if-shopping-cart-not-empty
        .accordion-heading
          %a.accordion-toggle(data-toggle="collapse" data-parent="#accordion" href="#shopping-cart-contents-collapse") Contents:
        .accordion-body.collapse.in#shopping-cart-contents-collapse
          %table#shopping-cart-contents.table
            %thead
              %tr
                %th
                  item
                %th
                  quantity
                %th
                  total price
            %tbody
          %form.form-inline
            %fieldset
              %legend Available Actions:
              .controls
                .control-group
                  %a.btn.btn-danger#empty-shopping-cart-button(href="#" style="margin-bottom: 12px" data-dismiss="modal") Empty Cart

      .accordion-group.if-shopping-cart-not-empty
        .accordion-heading
          %a.accordion-toggle(data-toggle="collapse" data-parent="#accordion" href="#shopping-cart-checkout-collapse") Checkout:
        .accordion-body.collapse#shopping-cart-checkout-collapse
          .payment-errors
          %form.form-horizontal(action="/cart/checkout" method="POST" id="payment-form")
            %fieldset
              %legend Where should we send your stuff?
              .control-group
                %label.control-label Name
                .controls
                  %input.cardholder-name(type="text" size="40" required="required" autofocus="autofocus" name="name")
              .control-group
                %label.control-label E-mail Address
                .controls
                  %input.cardholder-email(type="email" size="40" required="required" name="email")
              .control-group
                %label.control-label Address 1
                .controls
                  %input.cardholder-address1(type="address1" size="40" required="required" name="address1")
              .control-group
                %label.control-label Address 2
                .controls
                  %input.cardholder-address2(type="address2" size="40" name="address2")
              .control-group
                %label.control-label City
                .controls
                  %input.cardholder-city(type="city" size="40" required="required" name="city")

              .control-group
                %label.control-label State
                .controls
                  %input.cardholder-state(type="state" size="40" required="required" name="state")
                  %p.help-block
                    If outside the United States, enter Province if applicable or "None" 
              .control-group
                %label.control-label Zip
                .controls
                  %input.cardholder-country(type="zip" size="20" required="required" name="zip")
              .control-group
                %label.control-label Country
                .controls
                  %input.cardholder-country(type="country" size="20" required="required" list="countries" name="country")
                %datalist#countries
                  %option(value="United States")
                  %option(value="Canada")
                  %option(value="Mexico")
                  %option(value="Great Britain")
                  %option(value="France")
                  %option(value="Germany")
                  %option(value="Spain")
                  %option(value="Italy")
                  %option(value="Japan")
                  %option(value="China")
                  %option(value="Philippines")
            %fieldset
              %legend Enter your card info, please.
              .control-group.card-number-container
                %label.control-label Card Number
                .controls
                  %input.card-number(type="text" size="20" autocomplete="off")
                  %p.help-block.if-error
                    Your card number seems to be incorrect
              .control-group.card-cvc-container
                %label.control-label CVC
                .controls
                  %input.card-cvc(type="text" size="4" autocomplete="off")
                  %p.help-block.if-error
                    Your CVC seems to be incorrect.
              .control-group.card-expiry-container
                %label.control-label Expiration (MM/YYYY)
                .controls
                  <input type="text" size="2" maxlength="2" class="card-expiry-month"><span> / </span><input type="text" size="4" maxlength="4" class="card-expiry-year">
                  %p.help-block.if-error
                    Your card expiry date seems to be incorrect.
            %fieldset
              %legend Friendly Reminder: Check your answers before submitting!
              .control-group
                .controls
                  %input.btn.btn-primary(type="submit" value="Submit Payment")
      
  .modal-footer
    %a.btn(href="#" data-dismiss="modal") Dismiss

%script
  $(document).ready(function() { cart.refresh();});


#payment-success-modal.modal.fade
  .modal-header
    %button(class="close" data-dismiss="modal") &times;</button>
    %h2#payment-thanks
  .modal-body
    Your order has been placed. You should receive a receipt by e-mail. If you notice any problems with your order please use our contact form to get in touch with us and be sure to include the &ldquo;Unique Order ID&rdquo; from your receipt.
  .modal-footer
    %a.btn(href="#" data-dismiss="modal") Okay



-# At Hel+, we believe in freedom, transparency and limitations imposed on governments as well as corporations as stipulated by a consitution written and ratified by the people. When such limitations are being violated or do not exist at all, the survival of freedom depends on the existance of protected channels of communication accessible to the people, channels that stay one step ahead of the censorship and servailance techniques of the powers that be. That is why Hel+, in light of recent events both here in the USA and abroad, is supporting the development of <a href="http://torproject.org">Tor</a> with 15% all the proceeds collected in our store. 
